{% extends "basis/base.html" %}

{% block body %}
    <div class="container text-center" style="background-color: lightblue; box-shadow: 0 0 5px lightblue;">
            <h1 style='text-align: center; display: inline-block; padding: 5px; color: #f80;'>
                Ваш аккаунт
            </h1><br>
            <strong style="color: #f80">Пользователь: {{ user }} </strong><br>
            <strong style="color: #f80">Ваш Email: {{ user.email }}</strong>
            {% if user.is_superuser %}
                <strong><p style="color: #f80">
                    Вы - администратор.
                </p></strong>
            {% else %}
                <strong><p style="color: #f80">
                    Вы не администратор. Вы не имеете специальных привилегий.
                </p></strong>
            {% endif %}
    </div>
{% endblock %}